body {
    font-family: Roboto, sans-serif;
}
.section--page {
    height: 40vh;
    padding: 2rem 1rem 1rem;
}
.section--page:nth-of-type(odd) {
    background: #d5d5d5;
}
.nav {
    padding: 0;
}
.nav__item {
    list-style:none;
    display: inline-block;
    text-align: center;
}
.nav__link {
    padding: 1rem;
}
.nav__link:hover {
    background: blue;
    color: orange;
}
.Introduction {
  font-family: cursive;
}
#header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  height: auto;
}
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.back-to-top:hover {
background: green;
}
.back-to-top {
  padding: 1rem;
}
.my-name:hover {
  font-family: fantasy;
}
.Body-image-1 {
  max-width: 25%;
  height: auto;
  float: right;
  margin-left: 1rem;
}
.Body-image-2 {
  max-width: 25%;
  height: auto;
  float: left;
  margin-right: 1rem;
}
.page1text {
  color: cyan;
  text-align: center;
}
.page1text1 {
  color: orange;
  text-align: center;
}
.page2text2 {
  color: yellow;
  text-align: center;
}
.page2text {
  color: red;
  text-align: center;
}
.page3text3 {
  color: lime;
  text-align: center;
}
.page3text {
  color: magenta;
  text-align: center;
  padding-top: 150px;
}
